:root {
    ---color-bacground: #E7DFD8;
    ---color-font:#E4D8CC;
    ----bg-color: #0C2B4E;

    --color-w-bg: #faf6d7;
    --color-w-font: #faefc5;
    --color-w-bgMission: #ebdbb2;
    --color-w-btn: #03303a;
    --color-w-inputHead: #458487;

    --color: #69605e;
    --color-w-btn_hover: #064855;
    --color-w-font_hover: #b1ac9b;

    --color-main-bg: #282828;
    --color-secondary-bg: #3c3836;
    --color-secondary-bg-opac:rgba(60,56,54,0.5);
    --color-primary-font: #A89984;
    --color-secondary-font: #fbf1c7;
    --color-primmary-icon: #7C6F64;
    --color-secondary-icon: #fbf1c7;
    --color-primary: #8EC07C;
    --color-primary-hover: #689D6A;
    --color-secondary: #83A598;
    --color-secondary-hover: #458588;
    --color-info: #D3869B;
    --color-info-hover: #B16286;
    --color-warning: #FABD2F;
    --color-warning-hover: #D79921;
    --color-success: #B8BB26;
    --color-success-hover: #98971A;
    --color-danger: #FB4934;
    --color-danger-hover: #CC241D;
    --color-header-bg: #282828;
    --color-search-bg: #3c3836;
    --color-gray-font: gray;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(---color-bacground);

    font-family: "Comfortaa", sans-serif;


    .container{

        width: 100%;

        .content{
            max-width: 1280px;
            margin: 0 auto;
            border-left: 1px solid red;
            border-right: 1px solid red;
        }

    }

    header{
        position: relative;
        /*height: 784px;*/
        /*background: var(--color-w-btn);*/
        background-image: url("../public/img3.png");
        /*background-image: url("../public/img.png");*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1280px auto;

        .content {
            display: flex;

            flex-direction: column;
            justify-content: space-between;
            /*justify-content: space-around;*/
            /*height: 784px;*/
            height: 713px;


            .top_menu_head {

                /*color: var(---color-font);*/
                color: #69605e;

                font-weight: 600;

                ul {
                    display: flex;
                    justify-content: space-around;
                    padding-left: 0;
                    margin: 0;
                    padding-top: 15px;

                    li {
                        /*margin: 0;*/
                        /*padding: 0;*/
                        list-style-type: none;
                        text-transform: uppercase;

                        a {
                            text-decoration: none;
                            color: var(--color-w-btn);
                        }

                        a:hover {
                            border-bottom: 2px solid var(--color-w-btn);
                        }
                    }
                }
            }

                .main_head {
                                        display: flex;
                    justify-content: space-around;

                    .main_head_left,
                    .main_head_right {
                        max-width: 400px;

                        /*border: 1px solid red;*/
                    }

                    .main_head_left {
                        max-width: 700px;

                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        .text_one{
                            font-size: 31px;
                            font-weight: 600;

                            /*color: var(---color-font);*/
                            color: #f3d2d2;
                            /*color: var(--color-w-btn);*/
                        }

                        .text_two{
                            font-size: 25px;
                            font-weight: 400;
                            text-align: right;
                            color: #4A70A9;
                            /*color: var(--color-w-btn);*/
                        }

                        .text_three{
                            font-size: 25px;
                            font-weight: 400;
                            /*color: var(--color-w-btn);*/
                        }


                    }



                    .main_head_right {
                        .main_head_right_img {
                            opacity: 0;
                            animation: fadeIn 1s ease-in-out forwards;
                            animation-delay: 0s; /* Небольшая задержка */
                        }

                        @keyframes fadeIn {
                            from {
                                opacity: 0;
                                transform: translateY(-200px); /* Легкое движение снизу */
                            }
                            to {
                                opacity: 1;
                                transform: translateY(-10px);
                            }
                        }
                    }
                }
        }



    }

}