:root {
    ---color-bacground: #E7DFD8;

    ---color-font:#E4D8CC;

    --color-w-bg: #faf6d7;
    --color-w-font: #faefc5;
    --color-w-bgMission: #ebdbb2;
    --color-w-btn: #076578;
    --color-w-inputHead: #458487;

    --color: #69605e;
    --color-w-btn_hover: #064855;
    --color-w-font_hover: #b1ac9b;

    --color-main-bg: #282828;
    --color-secondary-bg: #3c3836;
    --color-secondary-bg-opac:rgba(60,56,54,0.5);
    --color-primary-font: #A89984;
    --color-secondary-font: #fbf1c7;
    --color-primmary-icon: #7C6F64;
    --color-secondary-icon: #fbf1c7;
    --color-primary: #8EC07C;
    --color-primary-hover: #689D6A;
    --color-secondary: #83A598;
    --color-secondary-hover: #458588;
    --color-info: #D3869B;
    --color-info-hover: #B16286;
    --color-warning: #FABD2F;
    --color-warning-hover: #D79921;
    --color-success: #B8BB26;
    --color-success-hover: #98971A;
    --color-danger: #FB4934;
    --color-danger-hover: #CC241D;
    --color-header-bg: #282828;
    --color-search-bg: #3c3836;
    --color-gray-font: gray;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(---color-bacground);

    font-family: "Comfortaa", sans-serif;


    .container{

        width: 100%;

        .content{
            max-width: 1280px;
            margin: 0 auto;
            border-left: 1px solid red;
            border-right: 1px solid red;
        }

    }

    header{
        position: relative;
        height: 784px;
        /*background: var(--color-w-btn);*/
        background-image: url("../public/img2.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 1280px auto;


        .top_menu_head{

            /*color: var(---color-font);*/
            color: #69605e;

            font-weight: 600;

            ul{
                display: flex;
                justify-content: space-around;
                padding-left: 0;
                margin: 0;
                padding-top: 15px;
                li{
                    /*margin: 0;*/
                    /*padding: 0;*/
                    list-style-type: none;
                    text-transform: uppercase;

                    a{
                        text-decoration: none;
                        color: var(--color-w-btn);
                    }
                    a:hover{
                        border-bottom: 2px solid var(--color-w-btn);
                    }
                }
            }
        }
        /*.bottom{*/

        /*    position: absolute;*/
        /*    bottom: 0;*/

            .main_head{

                /*margin: auto;*/
                position: absolute;
                bottom: 0;

                display: flex;
                /*justify-content: space-around;*/


                .main_head_left,
                .main_head_right{
                    max-width: 400px;

                    border: 1px solid red;
                }

                .main_head_left{



                }
                .main_head_right{

                }
            }
        /*}*/



    }

}